<!-- Botón para abrir el modal de filtros -->
<button class="filter-button" (click)="openModal()">
  <i class="bi bi-funnel-fill"></i> Filtros
</button>

<!-- Modal para los filtros -->
<div class="filter-modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <!-- Botón de cerrar modal -->
    <button class="close-btn" (click)="closeModal()">×</button>
    <h3>Configurar Filtros</h3>

    <!-- Formulario de filtros -->
    <form (ngSubmit)="applyFilters()">
      <!-- Rango de Precio -->
      <label for="priceRange">
        Rango de Precio: <span>{{ filters.precio_min | currency: '$' }} - {{ filters.precio_max | currency: '$' }}</span>
      </label>
      <input
        type="range"
        id="priceRange"
        min="1000"
        max="10000"
        [(ngModel)]="filters.precio_max"
        name="priceRange"
        step="100"
      />

      <p>Precio máximo seleccionado: {{ filters.precio_max | currency: '$' }}</p>

      <!-- Tipo de Propiedad -->
      <label for="propertyType">Tipo de Propiedad:</label>
      <select
        id="propertyType"
        [(ngModel)]="filters.tipo_propiedad"
        name="tipo_propiedad"
      >
        <option value="" disabled>Selecciona una Opción</option>
        <option value="Apartamento">Apartamento</option>
        <option value="Casa">Casa</option>
        <option value="Estudio">Estudio</option>
      </select>

      <!-- Checkbox de Servicios -->
      <div *ngFor="let servicio of servicios">
        <label>
          <input 
            type="checkbox" 
            [checked]="isSelected(servicio.nombre)" 
            (change)="onServiceChange(servicio.nombre, $event)" 
            name="{{servicio.nombre}}" />  
          {{servicio.nombre}}
        </label>
      </div>

      <!-- Botones de Acción -->
      <div class="modal-buttons">
        <button type="submit" class="btn btn-primary">Aplicar</button>
        <!-- Modal en el archivo modal-filter.component.html -->
        <button type="button" class="btn btn-danger" (click)="resetFilters()">Limpiar</button>
      </div>
    </form>
  </div>
</div>
